# logarithmic return

In [1]:
import pandas as pd
import numpy as np
import datetime
# matplotlib.use('Agg') 
import matplotlib.pyplot as plt
from datetime import date
import pandas_datareader.data as web
# %matplotlib inline

In [2]:
start = date(2015, 1, 1)

end = date.today()

In [3]:
stock = web.DataReader("TWTR", 'yahoo', start, end)
stock.info()
stock.tail()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 539 entries, 2015-01-02 to 2017-02-22
Data columns (total 6 columns):
Open         539 non-null float64
High         539 non-null float64
Low          539 non-null float64
Close        539 non-null float64
Volume       539 non-null int64
Adj Close    539 non-null float64
dtypes: float64(5), int64(1)
memory usage: 29.5 KB

                 Open       High        Low      Close    Volume  Adj Close
Date
2017-02-15  16.850000  16.889999  16.299999  16.740000  35072600  16.740000
2017-02-16  16.690001  16.790001  16.320000  16.350000  21465000  16.350000
2017-02-17  16.360001  16.629999  16.360001  16.620001  14346600  16.620001
2017-02-21  16.639999  16.690001  16.299999  16.420000  15931900  16.420000
2017-02-22  16.400000  16.510000  16.010000  16.080000  13537500  16.080000

In [4]:
stock["Return"] = 0.0

In [5]:
stock.tail()

,Open,High,Low,Close,Volume,Adj Close,Return
Date,,,,,,,
2017-02-15,16.850000,16.889999,16.299999,16.740000,35072600,16.740000,0.0
2017-02-16,16.690001,16.790001,16.320000,16.350000,21465000,16.350000,0.0
2017-02-17,16.360001,16.629999,16.360001,16.620001,14346600,16.620001,0.0
2017-02-21,16.639999,16.690001,16.299999,16.420000,15931900,16.420000,0.0
2017-02-22,16.400000,16.510000,16.010000,16.080000,13537500,16.080000,0.0

In [15]:
stock['Return'] = np.log(stock['Adj Close']/stock['Adj Close'].shift(1))

In [16]:
stock[["Adj Close", "Return"]].tail()

            Adj Close    Return
Date
2017-02-14  16.520000  0.043929
2017-02-15  16.740000  0.013229
2017-02-16  16.350000 -0.023573
2017-02-17  16.620001  0.016379
2017-02-21  16.420000 -0.012107

In [21]:
stock["Adj Close"].plot(grid=True, figsize=(8,5))
plt.show()